// Colors
$color-primary: #0056fb;
$color-primary-transparent: #0058fb6b;
$color-primary-dark: #1147ae;
$color-secondary: #fc3b19;
$color-secondary-transparent: #fc3b196c;
$color-secondary-dark: #ae1a00;
$color-tertiary: #8fc814;
$color-tertiary-transparent: #8fc81477;
$color-tertiary-dark: #7aae09;
$color-black: #000;
$color-white: #fff;
$color-off-white: rgba(243, 249, 251, .7);
$color-error: #f00;
$color-success: #0f0;
$color-shadow: rgba($color-black, .2);
$color-font: #9691a6;

//Grid Values
$grid-width: 114rem;
$gutter: 3.5rem;
$row-space: 4rem;
$row-space-small: 3.5rem;

// Font Values
$font-size-default: 1.6rem;
$font-family-default: 'Nunito', sans-serif;

// Typography Values
$heading-letter-spacing: .1rem;

// Card Values
$left-side-width: 8rem;
$card-padding: 2.5rem;
