<section class="card card--primary">
  <h3 class="heading-tertiary">Details</h3>
  <div class="row">
    <div class="col-1-of-1">
      <img [src]="" [alt]="">
      <p>img</p>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-1">
      <h4>Name</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-1">
      <button type="button">Edit Recipe</button>
      <ul>
        <li>Delete</li>
        <li>Edit</li>
        <li>Add ingedients to shopping list</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-1">
      descriptions
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-1">
      ingredients
    </div>
  </div>
</section>