<section class="card card--recipe-card">
  <div class="row recipe-details recipe-details__text">
    <div class="col-1-of-1">
      <!-- <figure class="recipe-details__img-shape">
          <img [src]="recipe.imagePath" [alt]="recipe.name" style="width: 100%">
      </figure> -->
      <div class="recipe-details__nav">
        <button class="btn btn--flat" type="button" (click)="deleteRecipe()">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
        <button class="btn btn--flat" type="button" (click)="editRecipe()"><fa-icon
            [icon]="faEdit"></fa-icon></button>
      </div>
      <h3 class="heading-tertiary">{{recipe.name}} Recipe</h3>
    </div>
  </div>
  <!-- 
  <div class="row">
    <div class="col-1-of-1">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-1">
      ingredients
    </div>
  </div> -->
</section>