@import '../../../sass/main';

.recipe {

  &__heading {
    color: $color-font;
    // Keeps the heading's left margin at a distance equal to the left sides width
    margin-left: calc(#{$left-side-width} + (#{$left-side-width - $card-padding}));
  }
  &__nav {
    margin-left: -.3rem;
  }

  &__text {
    height: 50rem;
  }

  &__btn {
    margin-bottom: 3rem;
    margin-left: -.31rem;
  }

  // Positions the add recipe button
  &__add-recipe-btn {
    bottom: 15rem;
    position: absolute;
    right: 2.5rem;
  }
}
