.btn {
    display: block;
    
    &--flat {
        color: $color-white;
        font-size: 2rem;
        margin-bottom: 3rem;
        width: 4.5rem;
        height: 4.5rem;
        margin-left: -.31rem;
        border-radius: 50%;

        &:hover {
            background-color: $color-secondary;
            box-shadow: 0 1rem 3rem $color-shadow;

            // to do make button animation smooth on hover
        }
    }
}
