.btn {
  color: $color-white;
  display: block;
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;

  &:hover {
    background-color: $color-tertiary;
    box-shadow: 0 1rem 3rem $color-shadow;
    // to do make button animation smooth on hover and scale it up a lil
  }

  // Round button 
  &--round {
    border-radius: 50%;
  }

  // ***************************************
  // ***** Styling for add (+) button  *****
  // ***************************************
  &--add {
    background-color: $color-secondary;
    font-size: 3.5rem;
    height: 5rem;
    line-height: 1rem;
    width: 5rem;
  }
}
