.card {
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: 0 0 33px $color-shadow;
  position: relative;
  z-index: 0;

  &--recipe-card {
    background-color: $color-primary;
    padding: 2.5em;

    &::after {
      content: "";
      background-color: $color-white;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-clip-path: inset(0 0 12rem 8rem round 0% 0% 0% 180px);
      clip-path: inset(0 0 12rem 8rem round 0% 0% 0% 180px);
      z-index: -1;
    }
  }

  &--primary {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &--secondary {
    border-color: $color-secondary;
  }

  &--tertiary {
    border-color: $color-tertiary;
  }
}
