.row {
  margin: 0 auto;
  max-width: $grid-width;

  &:not(:last-child) { // Every row minus the last one
    @include responsive(tablet-portrait) {
      margin-bottom: $row-space-small;
    }
    margin-bottom: $row-space;
  }
  @include responsive(tablet-portrait) {
    max-width: 50rem;
    padding: 0 3rem;
  }
  @include clear-fix;

  [class^='col-'] { // Every column 
    float: left;

    &:not(:last-child) { // Except the last column
      @include responsive(tablet-portrait) {
        margin-bottom: $row-space-small;
        margin-right: 0;
      }
      margin-right: $gutter;
    }

    @include responsive(tablet-portrait) {
      width: 100% !important;
    }
  }

  .col-1-of-1 {
    width: 100%;
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter}) / 2);
  }

  .col-2-of-2 {
    width: 100%;
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter} * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - #{$gutter} * 2) / 3) + #{$gutter});
  }

  .col-3-of-3 {
    width: 100%;
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter} * 3) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - #{$gutter} * 3) / 4) + #{$gutter});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - #{$gutter} * 3) / 4) + (#{$gutter} * 2));
  }

  .col-4-of-4 {
    width: 100%;
  }
}
